/* Start Variables */
:root{
	--main-color: #2196f3;
	--main-color-alt: #1787e0;
  --main-text-color: #777;
	--section-padding-top: 35px;
  --section-padding-bottom: 35px;
  --main-transition: 0.3s;
  --main-line-height: 1.6;
}
/* Start Scrollbar Customization */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
  background: var(--main-color, #2196f3); 
}
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-alt, #1787e0); 
}
/* End Scrollbar Customization */
/* End Variables */
/* Start Global Rules */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	-webkit-scroll-behavior: smooth;
	-moz-scroll-behavior: smooth;
	-ms-scroll-behavior: smooth;
	-o-scroll-behavior: smooth;
	scroll-behavior: smooth;
}
body {
	font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
a {
	text-decoration: none;
}
.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
/* Medium */
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
/* Large */
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/* End Global Rules */
/* Start Components */
.section-heading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	padding: 15px;
	margin: 0 auto;
	font-size: 35px;
	font-weight: normal;
	text-transform: capitalize;
	background-color: #E7F4EC;
}
@media (max-width: 767px) {
	.section-heading {
		font-size: 30px;
	}
}
@media (max-width: 500px) {
	.section-heading {
		font-size: 20px;
	}
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .main-heading {
    font-size: 30px;
  }
}
@media (max-width: 550px) {
  .main-heading {
    font-size: 22px;
  }
}
.main-heading-hr {
  width: 30%;
  margin: 10px auto 0;
  height: 8px;
  border: none;
  background-color: #00bcd4;
}
@media (max-width: 767px) {
  .main-heading-hr {
    width: 35%;
    height: 7px;
  }
}
@media (max-width: 450px) {
  .main-heading-hr {
    width: 40%;
    height: 6px;
  }
}
/* End Components */
/* Start Header */
header {
  background-color: white;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
	-ms-box-shadow: 0 0 10px #ddd;
	-o-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  --height: 72px;
	position: relative;
}
header .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
	font-family: 'Pacifico', cursive;
  height: var(--height, 72px);
  color: var(--main-color, #2196f3);
}
@media (max-width: 992px) {
	header .logo {
		order: -3;
		width: 30%;
		height: 50px;
		justify-content: flex-start;
		align-items: center;
	}
}
header .search-form {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	border: none;
	margin-right: 40px;
	height: var(--height, 72px);
}
@media (max-width: 992px) {
	header .search-form {
		order: -2;
		margin: 0;
		width: 50%;
		height: 50px;
	}
}
header .search-form input {
	border: 1px solid #2196f3;
	border-radius: 2px;
	outline: none;
	padding: 5px;
	margin: 0;
	color: var(--main-color, #2196f3);
	background-color: transparent;
}
header .search-form input::placeholder {
	color: var(--main-color, #2196f3);
}
@media (max-width: 600px) {
	header .search-form input {
		padding: 2px;
		width: 120px;
	}
}
header .search-form button {
	cursor: pointer;
	padding: 5px 10px;
	margin: 0 0 0 -1px;
	border: 1px solid #2196f3;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: white;
	background-color: var(--main-color, #2196f3);
}
@media (max-width: 600px) {
	header .search-form button {
		padding: 2px 8px;
	}
}
header .icons {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	height: var(--height, 72px);
}
@media (max-width: 992px) {
	header .icons {
		order: -1;
		width: 20%;
		height: 50px;
		justify-content: flex-end;
		align-items: center;
	}
}
@media (max-width: 500px) {
	header .icons {
		font-size: 15px;
	}
}
header .icons a {
	color: var(--main-color, #2196f3);
}
header .main-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}
@media (max-width: 992px) {
	header .main-nav {
		width: 100%;
		padding-left: 0;
		margin: 0 auto;
	}
}
header .main-nav > li > a {
	display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  position: relative;
  overflow: hidden;
  height: var(--height, 72px);
  transition: var(--main-transition, 0.3s);
}
header .main-nav > li > a:hover {
	color: var(--main-color, #2196f3);
	background-color: #fafafa;
}
header .main-nav > li > a::before {
	content: '';
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 4px;
	transition: var(--main-transition, 0.3s);
	background-color: var(--main-color, #2196f3);
}
header .main-nav > li > a:hover::before {
	left: 0;
}
@media (max-width: 992px) {
	header .main-nav > li > a {
		height: 40px;
	}
}
@media (max-width: 500px) {
	header .main-nav > li > a {
		padding: 15px;
  	font-size: 15px;
	}
}
header .main-nav li:nth-child(3) div {
  display: none;
}
header .main-nav > li:nth-child(3) > div > a {
	display: block;
	padding: 10px 15px;
	color: black;
	transition: var(--main-transition, 0.3s);
}
header .main-nav > li:nth-child(3) > div > a:not(:last-child) {
	border-bottom: 1px solid #ccc;
}
header .main-nav > li:nth-child(3) > div > a:last-child {
	border-bottom: 2px solid var(--main-color, #2196f3);
}
header .main-nav > li:nth-child(3) > div > a:hover {
	padding-left: 20px;
}
@media (max-width: 991px) {
	header .main-nav > li:nth-child(3) > div {
		border-top: 1px solid #ccc;
	}
	header .main-nav > li:nth-child(3):hover > div {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: calc(100% + 1px);
		left: 0;
		width: 100%;
		background-color: #fafafa;
		z-index: 100;
	}
}
@media (min-width: 992px) {
	header .main-nav > li {
		position: relative;
	}
	header .main-nav > li:nth-child(3):hover > div {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		background-color: #fafafa;
		z-index: 100;
	}
}
/* End Header */
/* Start Video */
.video {
	padding-top: var(--section-padding-top, 35px);
	padding-bottom: var(--section-padding-bottom, 35px);
}
.video .container{
	text-align: center;
}
.video .container video{
	width: 100%;
	max-width: 100%;
}
.video .container p{
	font-weight: bold;
	margin: 30px auto -5px;
}
@media (max-width: 512px) {
	.video .container p{
		font-size: 20px;
	}
}
@media (min-width: 513px) {
	.video .container p{
		font-size: 30px;
	}
}
@media (min-width: 992px) {
	.video .container p{
		font-size: 45px;
	}
}
/* End Video */
/* Start Products */
.products {
	padding-top: var(--section-padding-top, 35px);
	padding-bottom: var(--section-padding-bottom, 35px);
}
.products .image-holder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 50px;
	margin-top: 60px;
}
.products .image-holder .box {
	text-align: center;
}
.products .box .image a img {
	max-width: 100%;
	transition: var(--main-transition, 0.3s);
}
.products .box .image a img:hover {
	transform: scale(1.1);
}
.products .box .caption {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}
@media (max-width: 1199px) {
	.products .box .caption {
		margin-bottom: -15px;
	}
}
/* End Products */
/* Start Latest News */
.latest-news {
	padding-top: var(--section-padding-top, 35px);
	padding-bottom: var(--section-padding-bottom, 35px);
}
.latest-news .news p {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	font-weight: bold;
	padding: 15px;
	margin: 40px auto 80px;
}
@media (max-width: 1200px) {
	.latest-news .news p {
		margin: 30px auto 40px;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
	.latest-news .news p {
		font-size: 35px;
	}
}
@media (max-width: 767px) {
	.latest-news .news p {
		font-size: 25px;
	}
}
@media (min-width: 500px) and (max-width: 540px) {
	.latest-news .news p {
		font-size: 20px;
	}
}
@media (max-width: 500px) {
	.latest-news .news p {
		font-size: 16px;
	}
}
.latest-news .cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: 50px;
	text-align: center;
}
@media (max-width: 540px) {
	.latest-news .cards {
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	}
}
@media (max-width: 425px) {
	.latest-news .cards {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
.latest-news .cards .card img {
	max-width: 100%;
}
@media (min-width: 1200px) {
	.latest-news .cards .card img {
		width: 550px;
		height: 275px;
	}
}
.latest-news .container hr {
	width: 85%;
	height: 15px;
	border: none;
	margin: 80px auto 40px;
	background-color: #00bcd4;
}
@media (max-width: 1200px) {
	.latest-news .container hr {
		margin: 40px auto 0;
	}
}
/* End Latest News */
/* Start Best Seller */
.best-seller {
	padding-top: var(--section-padding-top, 35px);
	padding-bottom: var(--section-padding-bottom, 35px);
}
.best-seller .image-holder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	gap: 50px;
	margin-top: 60px;
}
@media (max-width: 767px) {
	.best-seller .image-holder {
		gap: 40px;
	}
}
.best-seller .image-holder .box {
	text-align: center;
}
.best-seller .box .image img {
	max-width: 100%;
}
.best-seller .box .caption .name {
	font-size: 30px;
	font-weight: bold;
	text-transform: capitalize;
	margin: 30px auto 15px;
}
.best-seller .box .caption .price {
	font-size: 20px;
	margin: 0 auto;
}
/* End Best Seller */
/* Start Footer */
.footer {
 	padding-top: var(--section-padding-top, 35px);
	padding-bottom: 10px;
  background-color: #E7F4EC;
}
.footer .container {
  display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.footer .container .holder {
  display: flex;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 767px) {
	.footer .container .holder {
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin: -10px 0;	
	}
}
.footer .box h3 {
	margin: 0 0 20px;
	color: var(--main-color, #2196f3);
	font-size: 35px;
	font-family: 'Pacifico', cursive;
}
@media (max-width: 767px) {
	.footer .box {
		text-align: center;	
	}
}
.footer .box .social {
  display: flex;
	margin-left: -40px;
}
@media (max-width: 767px) {
	.footer .box .social {
		justify-content: center;		
	}
}
.footer .box .social li {
  margin-right: 10px;
}
.footer .box .social li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: #313131;
  transition: var(--main-transition, 0.3s);
}
.footer .box .social .facebook:hover {
  background-color: #1877f2;
}
.footer .box .social .instagram:hover {
  background-color: #e91e63;
}
.footer .box .social .google:hover {
  background-color: #f44336;
}
.footer .box .text {
	max-width: 380px;
  line-height: var(--main-line-height, 1.6);
}
.footer .box .line {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
	.footer .box .line {
		flex-direction: column;	
	}
}
.footer .box .line i {
  font-size: 25px;
  margin-right:10px;
  color: var(--main-color, #2196f3);
}
@media (max-width: 767px) {
	.footer .box .line i {
		margin: 0 0 10px;
	}
}
.footer .box .line .info {
  flex: 1;
  line-height: var(--main-line-height, 1.6);
}
.footer .box .line .info span {
  display: block;
}
.footer .box .address strong {
	font-size: 22px;
	margin: 15px 25px 15px 0;
	display: inline-block;
}
.footer .box .address p {
	margin: 15px 15px 15px 0;
	display: inline-block;
}
@media (max-width: 1199px) {
	.footer .box .address strong {
		display: block;
	}
}
@media (max-width: 596px) {
	.footer .box .address p {
		margin: 5px 15px 10px;
	}
}
/* End Footer */